:root {
  --color-neutral900: hsl(227, 75%, 14%);
  --color-neutral800: hsl(226, 25%, 17%);
  --color-neutral700: hsl(225, 23%, 24%);
  --color-neutral600: hsl(226, 11%, 37%);
  --color-neutral300: hsl(0, 0%, 78%);
  --color-neutral200: hsl(217, 61%, 90%);
  --color-neutral100: hsl(0, 0%, 93%);
  --color-neutral0: hsl(200, 60%, 99%);
  --color-red400: hsl(3, 86%, 64%);
  --color-red500: hsl(3, 71%, 56%);
  --color-red700: hsl(3, 77%, 44%);
  --light-gradient: linear-gradient(180deg, #ebf2fc 0%, #eefbf9 100%);
  --dark-gradient: linear-gradient(180deg, #04091b 0%, #091540 100%);
}
